* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
#tela {
    width: 100vw;
}
#controles > div {
    border: 4px solid black;
    margin: 5px auto;
    padding: 15px;
    border-radius: 10px;
    background-color: darkgray;
    box-shadow: 2px 2px 0px darkgrey;
}
#controles > div > p {
    font-size: 1.2em;
}
#controles > div > input {
    padding: 5px;
    margin: 10px 0;
    box-shadow: 2px 2px 0px black
}
button {
    width: 130px;
    height: 1.8em;
    color: white;
    text-align: 1px 1px 0px black;
    background-color: gray;
    box-shadow: 1px 1px 0px black;
}
#total_de_bolas {
    font-size: 2em;
}
#tela > div {
    width: 99vw;
    min-height: 55vh;
    border: 4px solid black;
    margin: 15px auto;
    border-radius: 10px;
}
.bolas {
    position: absolute;
    border-radius: 50%;
}