* {
    margin: 0;
    padding: 0;
}
section {
    border: 2px solid black;
    display:flex;
    width: 450px;
    padding: 15px;
}
.olhos {
    border: 8px solid black;
    width: 200px;
    height: 200px;
    margin: 0px 5px;
    border-radius: 50%;
    transform-origin: center center;
}
.pupilas {
    background-color: black;
    width: 60px;
    height: 60px;
    padding: 15px;
    border-radius: 50%;
    transform: translate(90px,55px);
    display: flex;
    justify-content: right;
}
.iris {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}