section {
    margin: 15vh auto 0 auto;
    padding: 40px;
}
#opcoes {
    max-width: 510px;
}
#algo {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
#alg1 {
    display: flex;
    align-items: center;
}
#alg2 {
    display: flex;
    align-items: center;
}
#alg3 {
    display: grid;
    grid-template-columns: 1fr;
}
#alg3 > input {
    transform: translateY(7px);
}
#sec2 {
    max-width: 510px;
    transform: translateY(-15vh);
}  
#varios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    width: 492px;
}