* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
section {
    border: 2px solid black;
    max-width: 80vw;
    padding: 5vw;
    margin: 30px auto 0 auto;
    transform: translateY(-15px);
}
#algo {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
}
#alg1 {

    padding: 15px;
}
#cor {
    display: block;
    margin: auto;
    width: 100px;
    height: 50px;
}
#alg2 {
    text-align: center;
    padding: 15px;
}
#alg3 > input {
    padding: .5em;
    width: 11em;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}
#varios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    row-gap: 15px;
    column-gap: 15px;
    width: 323px;
}
.item {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.marca {
    border: 5px solid black;
}