* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
.carros {
    width: 80vw;
    margin: 5vh auto;
    border: 5px solid black;
    padding: 15px;
    border-radius: 10px;
}
.carro {
    width: 50vw;
    margin: 5px auto;
    text-align: center;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
}