main {
    padding: 15vh 0 0 0;
}
#cartao {
    width: 600px;
    height: 350px;
    margin: auto;
}
#informacoes {
    font-size: 1em;
}
#foto {
    width: 150px;
    height: 220px;
    padding: 30px;
}
#equipe {
    width: 600px;
    display: flex;
    justify-content: space-between;
}
#cinco {
    margin: 0;
}
footer {
    padding-bottom: 15vh;
}