:root {
    --cor0: #0E0E0E;
    --cor1: #D0D5D1;
    --cor2: #166F1A;
    --cor3: #222121;
    --cor4: #114a14;

}
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
body {
    width: 100vw;
    height: 100vh;
    background: var(--cor0);
}
#cartao {
    width: 98vw;
    height: 280px;
    background: var(--cor1) url(../imagens/fundo_cartao.jpg) center center no-repeat scroll;
    background-size: contain;
    border-radius: 10px;
    margin: 40px auto auto auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#informacoes {
    width: 40vw;
    padding-left: 20px;
    font-size: .9em;
}
.verde {
    margin: 0 0 10px 10px;
    color: var(--cor2);
}
#foto {
    width: 120px;
    height: 220px;
    padding: 10px;
    border: 4px solid var(--cor0);
    margin-right: 20px;
    background: var(--cor3);
}
#equipe {
    width: 230px;
    row-gap: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: transparent;
    margin: 50px auto auto auto;
    padding-bottom: 50px;
}
.agente {
    width: 100px;
    height: 100px;
    border: 4px solid var(--cor4);
    border-radius: 50%;
}
.agente:active {
    border: 1px solid var(--cor3);
    transition-duration: .3s;
}
#um { 
    background: var(--cor2) url(../imagens/1um.png) center center;
    background-size: contain;
}
#dois{
    background: var(--cor2) url(../imagens/2dois.png) center center;
    background-size: contain;
}
#tres{
    background: var(--cor2) url(../imagens/3tres.png) center center;
    background-size: contain;
}
#quatro{
    background: var(--cor2) url(../imagens/4quatro.png) center center;
    background-size: contain;
}
#cinco {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: auto;
    background: var(--cor2) url(../imagens/5cinco.png) center center;
    background-size: contain;
}
footer {
    text-align: center;
    color: white;
    padding-bottom: 40px;
    font-size: .9em;
}
footer > p > a {
    text-decoration: none;
    color: var(--cor2);
}