* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif; 
}
section {
    width: 65vw;
    padding: 15px;
    border: 6px solid black;
    border-radius: 10px;
    margin: auto;
    transform: translateY(5vh);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.dentro {
    width: 20vw;
    height: 20vw;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
}