* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mensagem {
    border: 5px solid black;
    box-shadow: 3px 3px 6px grey;
    background-color: white;
    padding: 15px 20px;
    text-align: center;
}
#btn_promise {
    padding: 3px 5px;
    margin: 15px 0 0 0;
    background-color: grey;
    color: white;
    text-shadow: 2px 2px 0px balck;
    border: 2px solid black;
    box-shadow: 2px 2px 0px grey;
}
#bom_dia {
    background-image: linear-gradient(to top right,#58cef2,#acd9e7,#53ccf1);
}
#boa_tarde {
    background-image: linear-gradient(to top right,#ca9147,#dfc6a5,#b57b2e);
}
#boa_noite {
    background-image: linear-gradient(to top right,#212944,#110e59,#0c0431);
}