* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
section {
    border: 2px solid black;
    border-radius: 5px;
    width: 80vw;
    padding: 5vw;
    margin: 30px auto 0 auto;
    transform:translateY(-15px);
}
#secopc > div {
    padding: 5px;
    font-size: 1.1em;
}
.mvals {
    display: flex;
    column-gap: 5px;
    width: 100px;
}
.mvals > input {
    height: 1.5em;
    width: 1.5em;
    font-size: .9em;
    text-align: center;
}
#divmin, #divmax, #divttl {
    display: flex;
}
#divmin, #divttl {
    margin-bottom: 15px;
}
#divmax {
    margin-bottom: 30px;
}
#show {
    padding: .1em .2em;
    font-size: 1.1em;
}
#divmin > span {
    width: 110px;
}
#divmax > span {
    width: 110px;
}
#divttl > span {
    width: 110px;
}