:root {
    --cor1: #c93333;
    --cor2: #201b1b;
    --cor3: #f7f71c;
    --cor4: #b10eb1;
    --cor5: lightgray;
}
* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
body,html {
    width: 100vw;
    height: 100vh;
    background: black;
}
div.background_elemento {
    width: 100vw;
    height: 35vh;
}
#elemento_sangue {
    background: var(--cor1) url(../imagens/Arte_do_Enpap_em_Desconjuracao.webp) center center no-repeat fixed;;
    background-size: cover;
}
#elemento_morte {
    background: var(--cor2) url(../imagens/Deus_da_Morte_em_O_Segredo_na_Floresta.webp) center center no-repeat fixed;;
    background-size: cover;
}
#elemento_conhecimento {
    background: var(--cor3) url(../imagens/Espreitador_na_fresta_escuro.webp) center center no-repeat fixed;;
    background-size: cover;
}
#elemento_energia {
    background: var(--cor4) url(../imagens/Anfitriao_em_Calamidade.webp) center center no-repeat fixed;;
    background-size: cover;
}
#elemento_medo {
    background: var(--cor5) url(../imagens/Degolificada_em_Ordem_Paranormal.webp) center center no-repeat fixed;
    background-size: cover;
}
section {
    background: black;
    width: 100vw;
    padding-top: 16px;
    padding-bottom: 16px;
}
img {
    display: block;
    height: 30vh;
    margin: auto;
}
h2 {
    text-align: center;
    font-size: 3em;
    margin-top: 2vh;
}
p {
    text-align: center;
    font-size: 1.2em;
    padding: 16px;
    line-height: 1.2em;
    margin-top: 2vh;
}
footer {
    background: white;
    padding: 10px;
    text-align: center;
    border: 4px solid grey;
}
footer > span,a {
    color: black;
}
footer > span > a {
    text-decoration: none;
}
footer > span > a:hover {
    text-decoration: underline;
}
footer > span > a:active {
    color: var(--cor4);
}