#infos {
    width: 300px;
    margin: auto;
}
#div_timers {
    width: 300px;
}
#btn_iniciar {
    width: 100px;
}
#config_timers {
    display: flex;
    width: 400px;
    margin: auto;
    justify-content: center;
}
#config_timers > div > p {
    width: 95px;
}
#config_timers > div > input {
    width: 100px;
    padding: 3px;
}
#atualizar_timers {
    display: block;
    margin: 10px auto 15px auto;
    width: 112px;
}
#btn_ativarAuto {
    width: 112px;
}
#config_pausa {
    width: 400px;
    margin: auto;
    text-align: center;
}
section {
    width: 500px;
    margin: auto auto 8px auto;
}