/*:root {

}*/
* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    padding: 3vh 5px 5px 5px; 
}
#infos {
    max-width: 100vw;
    border: 4px solid black;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}
#horario {
    font-size: 4em;
}
main {
    padding: 0px 5px 10px 5px;
}
section {
    border: 4px solid black;
    border-radius: 5px;
    padding: 3vh 5vw;
    margin-bottom: 8px;
}
#div_timers {
    text-align: center;
}
#div_timers > button {
    width: 19vw;
    padding: 2px 0;
    margin: 8px 5px 0 5px;
    border-radius: 5px;
    font-size: .9em;
}
#contador {
    text-align: center;
    margin: 15px 0;
    font-size: 6em;
}
#div_iniciar {
    text-align: center;
}
#btn_iniciar {
    width: 22vw;
    padding: 3px 0;
    font-size: 1.1em;
    border-radius: 5px;
    margin-bottom: 8px;
}
#configs > p {
    text-align: center;
    padding-bottom: 10px;
}
#config_timers {
    border: 2px solid black;
    max-width: 58.5vw;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
}
#config_timers > div > p {
    display: inline-block;
    width: 20vw;
    font-size: .9em;
    
}
#config_timers > div > input {
    padding: 3px;
    width: 16.5vw;
    text-align: center;
}
#atualizar_timers {
    display: block;
    width: 16.5vw;
    padding: 3px 6px;
    margin: 10px auto 15px auto;
}
#config_pausa > p {
    text-align: center;
}
#btn_ativarAuto {
    display: block;
    width: 16.5vw;
    padding: 1px 6px;
    font-size: 1.1em;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;;
}
footer {
    text-align: center;
    color: black;
    padding-bottom: 30px;
}
a {
    text-decoration: none;
    color: black;
}
.Pm_corpo {
    background-color: #FF7D81;
}
.Pm_divs_pontas {
    background-color: #CC272C;
    border: 4px solid #80181C;
}
.Pm_div_centro {
    background-color: #FF3038;
    border: 4px solid #80181C;
}
.Pm_footer {
    color: #CC272C;
}
.Pm_footer > a {
    color: #80181C;
}

.Pl_corpo {
    background-color: #235C56;
}
.Pl_divs_pontas {
    background-color: #27662A;
    border: 4px solid #225031;
}
.Pl_div_centro {
    background-color: #27664E;
    border: 4px solid #225031;
}
.Pl_footer {
    color: #27662A;
}
.Pl_footer > a {
    color: #225031;
}

.Pc_corpo {
    background-color: #B6D656;
}
.Pc_divs_pontas {
    background-color: #63F787;
    border: 4px solid #5CD656;
}
.Pc_div_centro {
    background-color: #9EEC6B;
    border: 4px solid #5CD656;
}
.Pc_footer {
    color: #9EEC6B;
}
.Pc_footer > a {
    color: #5CD656;
}