/*:root {

}*/
* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    margin: 5vh 0 5px 0;
}
main {
    margin: 0 0 5px 0;
}
button {
    display: block;
    margin: 5px auto 0 auto;
    padding: 3px 0;
    width: 30vw;
}
#infos {
    max-width: 100vw;
    border: 4px solid black;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}
#horario {
    font-size: 4em;
}
section {
    border: 4px solid black;
    max-width: 100vw;
    padding: 15px;
    margin-bottom: 5px;
}
#div_timers {
    display: flex;   
}
#div_timers > button {
    width: 30vw;
    margin: 0 3px 0 3px;
}
#contador {
    font-size: 7em;
    text-align: center;
    margin: 5px 0 5px 0;   
}
#btn_iniciar {
    width: 30vw;
    padding: 3px 0;
    display: block;
    margin: auto;
}
#configs > p {
    text-align: center;
}
#config_timers {
    display: flex;
    margin: 5px 0 0 0;
    text-align: center;
}
#config_timers > div > p {
    width: 28.5vw;
    margin: 0 3px 0 3px;
}   
#config_timers > div > input {
    width: 26vw;
    margin: 0 3px 0 3px;
    padding: 5px;
}
#atualizar_timers {
    margin: 5px auto 15px auto;   
}
#config_pausa > p {
    text-align: center;
}
footer {
    text-align: center;
    color: black;
    padding-bottom: 30px;
}
a {
    text-decoration: none;
    color: black;
}
.Pm_corpo {
    background-color: #FF7D81;
}
.Pm_divs_pontas {
    background-color: #CC272C;
    border: 4px solid #80181C;
}
.Pm_div_centro {
    background-color: #FF3038;
    border: 4px solid #80181C;
}
.Pm_footer {
    color: #CC272C;
}
.Pm_footer > a {
    color: #80181C;
}

.Pl_corpo {
    background-color: #235C56;
}
.Pl_divs_pontas {
    background-color: #27662A;
    border: 4px solid #225031;
}
.Pl_div_centro {
    background-color: #27664E;
    border: 4px solid #225031;
}
.Pl_footer {
    color: #27662A;
}
.Pl_footer > a {
    color: #225031;
}

.Pc_corpo {
    background-color: #B6D656;
}
.Pc_divs_pontas {
    background-color: #63F787;
    border: 4px solid #5CD656;
}
.Pc_div_centro {
    background-color: #9EEC6B;
    border: 4px solid #5CD656;
}
.Pc_footer {
    color: #9EEC6B;
}
.Pc_footer > a {
    color: #5CD656;
}