* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
header, main, footer {
    box-shadow: inset 0px 0px 0px 1px black;
}
.div_header {
    max-width: 1000px;
    padding: 15px;
    box-shadow: 2px 2px 0px black;
    margin: 5px auto;
    border: 4px solid black
}
p {
    font-size: 1.1em;
}
button {
    padding: 3px 5px;
    box-shadow: 2px 2px 0px black;
}
#tempo, #pontuacao {
    font-size: 1.7em;
}
#tela {
    max-width: 1000px;
    height: 60vh;
    border: 4px solid black;
    padding: 5px;
    margin: 10px auto;
}
footer {
    text-align: center;
    padding-bottom: 10px;
    font-size: .9em;
}