header {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 8vh auto 0 auto;
}
.div_header {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    margin-right: 5px;
}
#tela {
    max-width: 59.5vw;
}
footer {
    font-size: 1em;
}