:root {
    --cor0: #222323;
    --cor1: #F0F6F0;
}
* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: var(--cor0);
}
header {
    text-align: center;
    margin: 30px 0;
    font-size: 2em;
    font-weight: 900;
    color: var(--cor1);
}
section {
    width: 80vw;
    border: 4px solid grey;
    margin: auto;
    padding: 30px;
    background: var(--cor1);
}
#escolha {
    width: 70vw;
    padding: 15px;
    border: 1px solid black;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 15px;
}
.items {
    background: transparent;
    font-size: 1.4em;
    border: none;
}
#jogar {
    background: var(--cor0);
    color: var(--cor1);
    grid-column: 2/3;
    padding: 5px;
    border: 2px solid grey;
}
#resultados {
    width: 70vw;
    padding: 15px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}
#you, #cpu {
    width: 150px;
    height: 150px;
    border: none;
}
.info {
    font-weight: normal;
}
.iden {
    width: 130px;
    border: none;
    padding: 5px;
}
.res {
    width: 130px;
    height: 105px;
    border: none;
    padding: 5px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exem {
    width: 80px;
    height: 80px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
}
#aux {
    width: 70vw;
    padding: 15px;
    margin: 15px auto 0 auto;
}
.botao {
    display: block;
    background: var(--cor0);
    color: var(--cor1);
    margin: auto;
    padding: 5px;
    border: 2px solid grey;
}
footer {
    text-align: center;
    font-size: .9em;
    color: var(--cor1);
    margin: 15px 0;
}
footer > p > a {
    color: grey;
    text-decoration: none;
}
footer > p > a:hover {
    text-decoration: underline;
}