* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
#bau {
    border: 4px solid black;
    margin: auto;
    width: 312px;
    height: 312px;
    padding: 30px 60px 60px 30px;
    row-gap: 15px;
    column-gap: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.square {
    width: 100px;
    height: 100px;
    border: 2px solid black;
}